@import 'src/assets/styles/variables.scss';
// @import 'src/assets/styles/fonts';

html {
    
}
body {
    margin: 0;
}
// .material-icons {
//     font-family: 'Material Icons' !important;
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     line-height: 1;
//     letter-spacing: normal;
//     text-transform: none;
//     display: inline-block;
//     white-space: nowrap;
//     word-wrap: normal;
//     direction: ltr;
//     -webkit-font-feature-settings: 'liga';
//     -webkit-font-smoothing: antialiased;
// }

/////////common styles/////////
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.flex-self {
    display: flex;
}
.flex-horizontal {
    flex-direction: row;
}
.flex-vertical {
    flex-direction: column;
}
.justify-space-between {
    justify-content: space-between;
}
.primary-color {
    color: $primary;
}
.secondary-color {
    color: $secondary;
}
.primary-bg {
    background-color: $primary;
}
.secondary-bg {
    background-color: $secondary;
}
.horizontal-margin-5 {
    margin: 0 5px !important;
}



.bordered-bottom {
    border-bottom: 1px solid $border;
}