@import 'src/assets/styles/variables';

html {
    
}
body {
    margin: 0;
}

/////////common styles/////////
.full-height {
    height: $full-size;
}
.full-width {
    width: $full-size;
}
.flex-self {
    display: flex;
}
.flex-horizontal {
    flex-direction: row;
}
.flex-vertical {
    flex-direction: column;
}
.justify-space-between {
    justify-content: space-between;
}
.justrify-space-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.primary-color {
    color: $primary;
}
.secondary-color {
    color: $secondary;
}
.primary-bg {
    background-color: $primary;
}
.secondary-bg {
    background-color: $secondary;
}
.horizontal-margin-5 {
    margin: 0 5px !important;
}
.bordered-bottom {
    border-bottom: 1px solid $border;
}

//fonts
@font-face {
    font-family: 'Roboto-Light';
    src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
