/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';

@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'assets/styles/fonts';
@import 'assets/styles/common';
@import 'assets/styles/reset.css';

@include mat-core();

@import 'assets/styles/themes/eisenhower-theme';

@import 'assets/styles/mixins/app-theme.component'; 
@import 'assets/styles/mixins/admin-theme.component'; 
@import 'assets/styles/mixins/footer-theme.component'; 
@import 'assets/styles/mixins/header-theme.component'; 
@import 'assets/styles/mixins/auth-form-theme.component'; 
@import 'assets/styles/mixins/right-menu-theme.component'; 

@mixin custom-theme($theme) {
    @include app-theme-component($theme);
    @include admin-theme-component($theme);
    @include footer-theme-component($theme);
    @include header-theme-component($theme);
    @include auth-form-theme-component($theme);
    @include right-menu-theme-component($theme);
}

@include angular-material-theme($eisenhower); 
@include custom-theme($eisenhower);

html {
    height: 100%;
}
body {
    font-family: Roboto-Regular;
}

// FIXME
.mat-dialog-container {
    display: flex !important;
}
.mat-card-header-text {
    width: 100%;
    margin: 0;
}