@import "src/assets/styles/variables";

:host {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.main-container {
    width: $desktop-hd;
    margin: 0 auto;
    padding: $padding-medium;
    display: flex;
    flex: auto;
    @media screen and (max-width: $desktop-hd) {
        width: 100%;
        padding:  $padding-small;
    }
}