@import "src/assets/styles/variables";

:host {
    display: flex;
    flex-direction: column;
}
.main-container {
    width: $desktop-hd;
    margin: 0 auto;
    padding: $padding-small;
    flex: auto;
    @media screen and (max-width: $desktop) {
        width: 100%;
        padding: 0;
    }
}