@import "src/app/styles/variables";
@import "src/app/styles/common";

:host {
    display: block;
    min-width: 120px;
    min-height: 80px;
    .provider-card-container {
        .mat-card-header {
            .mat-card-title,
            .mat-card-subtitle {
                width: calc(100% - 5px);
                @extend .text-nowrap-ellipsis;
            }
        }
        .mat-card-content {
            > p {
                @extend .text-nowrap-ellipsis;
            }
        }
    }
}