@import "src/assets/styles/variables";

:host {
    display: none;
    &.opened {
        display: flex;
    }
    .menu-container {
        width: $menu; 
        padding: $padding-small;
        background-color: $pure-white;
    }
}