@import "src/assets/styles/variables";

:host {
    display: flex;
    .menu-container {
        display: none;
        flex-direction: column;
        padding: $padding-small;
        &.left {
            //TODO make configurable
            width: $left-menu-width;
            background-color: rgba($primary, 0.4);
        }
        &.right {
            //TODO make configurable
            width: $right-menu-width;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            box-shadow: -2px 0px 10px $primary;
            background-color: $pure-white;
        }
        &.open {
            display: flex;
        }
    }
}