@import "src/assets/styles/variables";

:host {
    display: none;
    
    &.opened {
        display: flex;
    }
    .menu-container {
        // position: absolute;
        // left: 0;
        // top: 0;
        // bottom: 0;
        // z-index: 10;
        width: $menu; 
        padding: $padding-small;
        background-color: $pure-white;
    }
}