@import 'src/assets/styles/variables';

:host {
    position: sticky;
    top: 0;
    z-index: 3;
    height: $header-height;
    .header-wrapper {
        > img {
            height: 100%;
            cursor: pointer;
        }
        .navigation-menu {
            flex: auto;
        }
        .actions-menu {
            flex: 0;
            .user-actions {
                .header-user {
                    font-size: 16px;
                    font-family: Roboto-Bold;
                    color: $pure-white;;
                }
            }
            .language {
                color: $pure-white;
                > button {
                    max-width: 100px;
                }
            }
        }
        mat-icon {
            color: $pure-white;
        }
    }
}