@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

:host {
    @extend .flex-row-vertical-centered;
    background-color: $primary;
    position: sticky;
    top: 0;
    z-index: 3;
    height: $header-height
    > img {
        height: 100%;
        cursor: pointer;
    }
    //TODO make generic
    .rotated {
        .mat-icon {
            transform: rotate(90deg);
        }
    }
    .nav-menu {
        flex: auto;
    }
    .user-actions {
        > span {
            @extend .header-user;
        }
    }
    .mat-icon {
        color: $pure-white;
    }
}