@import "src/assets/styles/variables";

:host {
    display: flex;
    .left-menu-container {
        // display: none;
        flex-direction: column;
        // FIXME
        padding: $padding-small;
        background-color: $pure-white;
        width: $left-menu-width;
        background-color: $pure-white;
        &.open {
            display: flex;
        }
    }
}