@import "src/assets/styles/variables";
@import 'src/assets/styles/common';

:host {
    display: flex;
    flex-direction: column;
    background-color: $pure-white;
    background-color: $pure-white;
    box-sizing: border-box;
    .left-menu-container {
        @extend .full-flex-column;
        width: $left-menu-width;
        padding: $padding-small;
        .tasks-container {
            // overflow-y: auto;
            @extend .full-flex-column;
            margin: 20px 0;
        }
    }
}