<!-- TODO use enums for type -->
<div class="providers-container">
    <div class="providers-buttons flex-all-centered">
        <button mat-button color="primary" class="horizontal-margin-5" (click)="openDialog('Habitica')">
            <mat-icon>add</mat-icon>
            Habitica
        </button>
        <button mat-button color="primary" class="horizontal-margin-5" (click)="openDialog('Microsoft')">
            <mat-icon>add</mat-icon>
            Microsoft To-Do
        </button>
        <button mat-button color="primary" class="horizontal-margin-5" (click)="openDialog('Google')">
            <mat-icon>add</mat-icon>
            Google Tasks
        </button>
    </div>
</div>
<!-- TODO beautify -->
<div>
    <div *ngFor="let item of providers.habitica">
        <div>ID: {{item.id}}</div>
        <div>Habitica User ID: {{item.habiticaUserID}}</div>
    </div>
</div>