.flex-row-vertical-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-all-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-user {
    font: 16px Roboto-Bold;
    color: $pure-white;;
}
.full-flex-column {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.full-flex-row {
    display: flex;
    flex-direction: row;
    flex: auto;
}
.full-flex-center {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}