//colors
$urgent-important: #99cc11;
$urgent-not-important: #ffaa22;
$not-urgent-important: #4488ee;
$not-urgent-not-important: #cc1111;

$pure-black: #000000;
$pure-white: #ffffff;

//sizes
$padding-large: 20px;
$padding-medium: 15px;
$padding-small: 10px; 
$left-menu-width: 240px;
$right-menu-width: 300px;
$header-height: 50px;

//resolutions
$desktop-hd: 1280px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 300px;

:export {
    urgentImportant: $urgent-important;
    urgentNotImportant: $urgent-not-important;
    notUrgentImportant: $not-urgent-important;
    notUrgentNotImportant: $not-urgent-not-important;
  }