//theme-colors
$primary: rgb(140, 140, 140);
$primary-light: rgba($primary, 0.2);

//colors
$urgent-important: rgb(153, 204, 17);
$urgent-not-important: rgb(255, 170, 34);
$not-urgent-important: rgb(68, 136, 238);
$not-urgent-not-important: rgb(204, 17, 17);

$pure-black: rgb(0, 0, 0);
$pure-white: rgb(255, 255, 255);

//sizes
$full-size: 100%;
$main-padding-large: 15px;
$main-padding-small: 10px; 

//resolutions
$desktop-hd: 1280px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 420px;