@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

:host {
    @extend .full-flex-row;
}
.admin-container {
    @extend .full-flex-column;
    .admin-wrapper {
        width: $desktop-hd;
        margin: 0 auto;
        @media screen and (max-width: $desktop-hd) {
            width: 100%;
        }
    }
}