@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

:host {
    @extend .full-flex-row;
}
.admin-container {
    width: $desktop-hd;
    margin: 0 auto;
    background-color: rgba($primary, 0.2);
    @extend .full-flex-column;
    @media screen and (max-width: $desktop-hd) {
        width: 100%;
    }
}