@import '~@angular/material/theming';
@import 'app/styles/variables';

@mixin app-theme-component($theme) {

    $primary: map-get($theme, primary);
    // $accent: map-get($theme, accent);
    // $foreground: map-get($theme, primary);

    app-root {
        .main-button-primary {
            color: $pure-white;
            background-color:  mat-color($primary);
        }
    }    
}