@import "src/assets/styles/variables";

:host {
    flex: auto;
    //TODO create one container for all paddings
    padding: $padding-medium;
    // height: calc(100vh - #{$header-height});
    overflow-y: auto;
    .matrix-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
    }
}