<button mat-icon-button color="primary" class="left-menu-button" disableRipple [class.rotated]="isLeftMenuOpen"
    (click)="toggleLeftMenu()">
    <mat-icon>menu</mat-icon>
</button>
<div class="dashboard-container">
    <li-left-menu></li-left-menu>
    <div class="matrix-container grid">
        <div class="column-container do-first">
            <h2>DO FIRST</h2>
            <div id="DO_FIRST" class="tasks-container" cdkDropList [cdkDropListData]="tasks?.DO_FIRST"
                [cdkDropListConnectedTo]="containerIds" (cdkDropListDropped)="onTaskDrop($event)">
                <!--TODO use enum instead of .DO_FIRST-->
                <li-task-card *ngFor="let item of tasks?.DO_FIRST" cdkDrag [cdkDragData]="item" [data]="item">
                </li-task-card>
            </div>
            <button mat-button color="primary" class="new-button">
                <mat-icon>add</mat-icon>
                New task
            </button>
        </div>
        <div class="column-container schedule">
            <h2>SCHEDULE</h2>
            <div id="SCHEDULE" class="tasks-container" cdkDropList [cdkDropListData]="tasks?.SCHEDULE"
                [cdkDropListConnectedTo]="containerIds" (cdkDropListDropped)="onTaskDrop($event)">
                <li-task-card *ngFor="let item of tasks?.SCHEDULE" cdkDrag [cdkDragData]="item" [data]="item">
                </li-task-card>
            </div>
            <button mat-button color="primary" class="new-button">
                <mat-icon>add</mat-icon>
                New task
            </button>
        </div>
        <div class="column-container delegate">
            <h2>DELEGATE</h2>
            <div id="DELEGATE" class="tasks-container" cdkDropList [cdkDropListData]="tasks?.DELEGATE"
                [cdkDropListConnectedTo]="containerIds" (cdkDropListDropped)="onTaskDrop($event)">
                <li-task-card *ngFor="let item of tasks?.DELEGATE" cdkDrag [cdkDragData]="item" [data]="item">
                </li-task-card>
            </div>
            <button mat-button color="primary" class="new-button">
                <mat-icon>add</mat-icon>
                New task
            </button>
        </div>
        <div class="column-container dont-do">
            <h2>DON'T DO</h2>
            <div id="DONT_DO" class="tasks-container" cdkDropList [cdkDropListData]="tasks?.DONT_DO"
                [cdkDropListConnectedTo]="containerIds" (cdkDropListDropped)="onTaskDrop($event)">
                <li-task-card *ngFor="let item of tasks?.DONT_DO" cdkDrag [cdkDragData]="item" [data]="item">
                </li-task-card>
            </div>
            <button mat-button color="primary" class="new-button">
                <mat-icon>add</mat-icon>
                New task
            </button>
        </div>
    </div>
</div>