<div class="matrix-container grid">
    <div class="column-container do-first">
        <h2>Do first</h2>
        <div class="tasks-container">
            <!-- <li-card [data]="matrixDetailed[0]"></li-card> -->
        </div>
        <button mat-button color="primary" class="new-button">
            <mat-icon>add</mat-icon>
            New task
        </button>
    </div>
    <div class="column-container schedule">
        <h2>Schedule</h2>
        <div class="tasks-container">
            <!-- <li-card [data]="matrixDetailed[1]"></li-card> -->
        </div>
        <button mat-button color="primary" class="new-button">
            <mat-icon>add</mat-icon>
            New task
        </button>
    </div>
    <div class="column-container delegate">
        <h2>Delegate</h2>
        <div class="tasks-container">
            <!-- <li-card [data]="matrixDetailed[2]"></li-card> -->
        </div>
        <button mat-button color="primary" class="new-button">
            <mat-icon>add</mat-icon>
            New task
        </button>
    </div>
    <div class="column-container dont-do">
        <h2>Don't do</h2>
        <div class="tasks-container">
            <!-- <li-card [data]="matrixDetailed[3]"></li-card> -->
        </div>
        <button mat-button color="primary" class="new-button">
            <mat-icon>add</mat-icon>
            New task
        </button>
    </div>
</div>