@import "src/assets/styles/variables";
@import 'src/assets/styles/common';

:host {
    @extend .full-flex-row;
    .dashboard-container {
        @extend .full-flex-row;
        li-left-menu {
            margin-right: 20px;
            left: 10px;
            position: relative;
        }
        .matrix-container {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: $padding-medium;
            grid-row-gap: $padding-medium;
            flex: auto;
            @media screen and (max-width: $desktop) {
                grid-column-gap: $padding-small;
                grid-row-gap: $padding-small;
            }
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
            }
            .column-container {
                padding: 5px;
                height: 100%;
                min-height: 250px;
                > h2 {
                    margin: 10px 0;
                    font-size: 20px;
                    text-align: center;
                }
                li-card {
                    margin-bottom: 10px;
                }
                &.do-first {
                    border: 1px solid $urgent-important;
                    h2 {
                        color: $urgent-important;
                    }
                    .new-button {
                        color: $urgent-important;
                    }
                }
                &.schedule {
                    border: 1px solid $not-urgent-important;
                    h2 {
                        color: $not-urgent-important;
                    }
                    .new-button {
                        color: $not-urgent-important;
                    }
                }
                &.delegate {
                    border: 1px solid $urgent-not-important;
                    h2 {
                        color: $urgent-not-important;
                    }
                    .new-button {
                        color: $urgent-not-important;
                    }
                }
                &.dont-do {
                    border: 1px solid $not-urgent-not-important;
                    h2 {
                        color: $not-urgent-not-important;
                    }
                    .new-button {
                        color: $not-urgent-not-important;
                    }
                }
            }
        }
    }
    .left-menu-button {
        z-index: 10;
    }
    .rotated {
        mat-icon {
            transform: rotate(90deg);
        }
    }
}