@import "src/assets/styles/variables";
@import 'src/assets/styles/common';

:host {
    display: block;
    cursor: move;
    .task-card-container {
        display: flex;
        border-style: solid;
        border-width: 1px 1px 1px 10px;
        box-shadow: none;
        padding: 8px;
        min-height: 120px;
        .task-card-wrapper {
            @extend .full-flex-row;
        }
        mat-card-title {
            max-width: 30%;
            display: flex;
            align-items: center;
            margin: 0 8px 8px 0;
            font: 16px Roboto-Bold;
        }
        mat-card-content {
            flex: auto;
            margin-bottom: 0;
        }
    }
}