<mat-card class="task-card-container" [style.borderColor]="data?.color">
    <div class="task-card-wrapper flex">
        <mat-card-title>{{data.title}}</mat-card-title>
        <mat-card-content>
            <p>{{data.description}}</p>
        </mat-card-content>
    </div>
    <mat-card-actions>
        <button mat-icon-button [matMenuTriggerFor]="editTask">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #editTask="matMenu" [overlapTrigger]="true" class="custom-task-menu"> 
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
    </mat-card-actions>
</mat-card>