@import "src/assets/styles/variables";

:host {
    display: flex;
    .right-menu-container {
        flex-direction: column;
        padding: $padding-small;
        background-color: $pure-white;
        width: $right-menu-width;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
}