@import 'src/app/styles/variables';
@import 'src/app/styles/common';

:host {
    //TODO change
    display: flex;
    height: 70px;
    border-width: 1px 0 0 0;
    > div {
        flex: auto;
        > img {
            height: 100%;
            cursor: pointer;
        }
    }
}