@import 'src/assets/styles/variables';

.main-container {
    flex: 1;
    width: $desktop-hd;
    margin: 0 auto;
    padding: $main-padding-large;
    padding-top: 75px; //todo fix, bad solution
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    @media screen and (max-width: $desktop) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        width: $full-size;
        padding: $main-padding-small;
        padding-top: 75px; //todo fix, bad solution
    }
    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-gap: 8px;
        padding: 10px 0;
        grid-auto-rows: inherit;
    }
}